<section class="content">
	<form role="form" (ngSubmit)="onSave()" #createForm="ngForm" novalidate>
		<legend class="title">Create new product</legend>

		<div class="form-group">
			<label for="name">Name</label>
			<input class="form-control" type="text" [(ngModel)]="product.name" name="name" #name="ngModel" minlength="3" required />
			<div [hidden]="name.valid || !name.touched" class="alert alert-danger">
				<span *ngIf="name.errors?.required">Name is required</span>
				<span *ngIf="name.errors?.minlength">Name must be atleast 3 character long</span>
			</div>
		</div>
		<div class="form-group">
			<label for="price">Price</label>
			<input class="form-control" type="number" [(ngModel)]="product.price" #price="ngModel" min="0.01" max="1000" name="price"
				required />
			<div [hidden]="price.valid || !price.touched" class="alert alert-danger">
				<span *ngIf="price.errors?.required">Price is required</span>
				<span *ngIf="price.errors?.min">Minimum price is 0.01.</span>
				<span *ngIf="price.errors?.max">Minimum price is 1000.</span>
			</div>
		</div>
		<div class="form-group">
			<label for="inputcategory">Category</label>
			<div>
				<select name="category" class="form-control" [(ngModel)]="product.category.category"  #category="ngModel" required>
					<option value="">Select One</option>
					<option *ngFor="let item of categories" value="{{item.category}}">{{item.category}}</option>
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" [disabled]="!createForm.form.valid">Add</button>
	</form>
</section>
{{diagnosis}}